<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<div> Months :
  <select (change)="changeMonth($event)">
    <option *ngFor = "let i of months">{{i}}</option>
  </select>
</div>
<br/>

<div *ngIf="showAge; then condition1 else condition2"> Age = 18 </div>
<ng-template #condition1>Hide Age.</ng-template>
<ng-template #condition2>Show Age.</ng-template>

<br/>

<button (click) = "myClickFunction($event)">
  Click Me
</button>

<div style = "text-align:center">
  <span appAddText > Welcome to {{title}}.</span>
</div>

<router-outlet></router-outlet>
